# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
*.swp
.idea/

# Logs e Arquivos Temporários
*.log
*.tmp
.DS_Store

# Docker (caso use)
docker-compose.override.yml

# React
node_modules/
build/
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
public/

# npm / yarn
package-lock.json

# MacOS
*.DS_Store

# Windows
Thumbs.db

# Jest
jest-test-results.json

# Next.js (se usar)
.next/
out/

# TypeScript (se usar)
*.tsbuildinfo

# Editorconfig
.editorconfig
